body {
    background-color: black;
    padding: 0%;
    margin: 0%;
    display: flex;
            justify-content: center;  /* Centraliza horizontalmente */
            align-items: center;      /* Centraliza verticalmente */
    padding-top: 10%;
    padding-bottom: 10%;
}

img {
    width: auto;
    height: 100%;
    text-align: center;
}

.mapa {
    text-align: center;
}

#mapa {
    text-align: center;
}


